<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Simple Mobile Mockup Prototype</title>
	<meta name="author" content="Ngo The Hung">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="/css/mockup/base.css">
	<link rel="stylesheet" href="/css/mockup/skeleton.css">
	
	<link rel="stylesheet" href="/css/mockup/smoothness/jquery-ui-1.8.20.custom.css">
	<link rel="stylesheet" href="/css/mockup//layout.css">

	
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	    
</head>
<body>
	
        
	<%- body %>
	<script src="/js/jquery-1.7.2.min.js"></script>
    <script src="/js/jquery-ui-1.8.20.custom.min.js"></script>
    
    <script src="/js/underscore-min.js"></script>
    <script src="/js/backbone-min.js"></script>

	<script type="text/javascript" src="/js/kinetic-v3.9.4.min.js"></script>
	
	<script type="text/javascript" src="/js/jquery.tinyscrollbar.min.js"></script>
	<script src="/js/jquery.tinyscrollbar.touch.js"></script>
        	
    <script src="/js/hhutil/util.js"></script>
    <script type="text/javascript" src="/js/jquery.hotkeys.min.js"></script>
	
	<link rel="stylesheet" media="screen" type="text/css" href="/css/mockup/colorpicker.css" />
	<script type="text/javascript" src="/js/colorpicker.min.js"></script>
	
	<script type="text/javascript" src="/js/mockup/my-anchors.js"></script>
	<script type="text/javascript" src="/js/mockup/widgetHelper.js"></script>
	<script type="text/javascript" src="/js/mockup/mockup.js"></script>


<!-- End Document
================================================== -->
</body>
</html>